.grid-modal.form-register {
  @include down(528) {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    width          : 100%;
  }
  @include up(768.99) {
    display         : grid;
    width           : 100%;
    grid-template   : repeat(5, calc(80px - .75rem)) / repeat(2, calc(50% - 1.5rem));
    justify-content : center;
    grid-column-gap : 1.5rem;
    grid-row-gap    : .75rem;
    flex            : 0 0 auto
  }
}

%grid,
.grid {
  display : grid;
  width   : 100%;
}

.grid-x2-lg {
  @include up(767.99) {
    grid-template-columns : 50% 50%;
  }
}

.grid-x1-md {
  @include down(767.99) {
  }
}

%m-auto,
.m-auto {
  margin : auto;
}

%ml-auto,
.ml-auto {
  margin-left : auto;
}

%mr-auto,
.mr-auto {
  margin-right : auto;
}


// Conteneur
// ==================
:root {
  --container-padding : 20px;
  --container-width   : calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width : 900px) {
  :root {
    --container-padding : 32px;
  }
}

@media only screen and (min-width : 1370px) {
  :root {
    --container-padding : 20px;
    --container-width   : 1330px;
  }
}

// Container
// ==============
%container,
.container {
  box-sizing    : border-box;
  width         : 100%;
  padding-left  : calc(50% - var(--container-width) / 2);
  padding-right : calc(50% - var(--container-width) / 2);
}

%container-margin,
.container-margin {
  margin-left  : auto;
  margin-right : auto;
  width        : var(--container-width);
}

//GRID - FLEX
.grid-3-col-md {
  display         : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px ;
  align-items: center;
  @include down(991.99){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & > *{
      margin-bottom : 2rem;
    }
  }
}

@include down(767.99) {
  .card-group-sm {
    display   : flex;
    flex-wrap : wrap;
    flex      : 0 0 auto;

    > * {
      margin : .5rem auto;
    }
  }
  .flex-column-sm {
    flex-direction : column;
  }
}

.grid-contact {
  display               : grid;
  grid-template-columns : 45% 55%;
  @include down(998.99) {
    grid-template-columns : 1fr;
  }
}

.bg-success-100 {
  background : #749460 !important;
}

.bg-success-20 {
  background : rgba(#749460, .2) !important;
}

.section-bg{
  background: rgba(236, 213, 184, 0.5);
}
.row-network {
  display         : flex;
  flex-wrap       : wrap;
  width           : 100%;
  justify-content : space-around;
}

.d-flex {
  display : flex !important;

  &.justify-center {
    justify-content : center;
  }

  &.space-around {
    justify-content : space-around;
  }

  &.align-center {
    align-items : center;
  }
}

%row,
.row {
  display   : flex;
  max-width : 100%;
}

%wrap-reverse-sm,
.wrap-reverse-sm,
.row.wrap-reverse-sm {
  flex-wrap : wrap-reverse;
}

%wrap-sm,
.wrap-sm,
.row.wrap-sm {
  flex-wrap : wrap;
}

%col-6-lg,
.col-6-lg {
  padding   : calc(var(--space) * 2);
  max-width : 100%;
}

%p-relative,
.p-relative {
  position : relative;
}

%p-absolute,
.p-absolute {
  position : absolute;
}


// Spaces
// =============
.mla {
  margin-left : auto;
}

@for $i from 0 through 5 {
  body {
    .p#{$i} {
      padding : space($i);
    }

    .pt#{$i} {
      padding-top: space($i);
    }

    .pb#{$i} {
      padding-bottom: space($i);
    }

    .px#{$i} {
      padding-left: space($i);
      padding-right: space($i);
    }

    .py#{$i} {
      padding-top: space($i);
      padding-bottom: space($i);
    }

    .my#{$i} {
      margin-top: space($i);
      margin-bottom: space($i);
    }

    .m#{$i} {
      margin: space($i);
    }

    .mx#{$i} {
      margin-left: space($i);
      margin-right: space($i);
    }

    .mt#{$i} {
      margin-top: space($i);
    }

    .mb#{$i} {
      margin-bottom: space($i);
    }

    .mr#{$i} {
      margin-right: space($i);
    }

    .ml#{$i} {
      margin-left: space($i);
    }
  }
}

.mobile-only {
  @include up(700) {
    display : none;
  }
}

.mobile-hidden {
  @include down(700) {
    display : none;
  }
}

.h-100 {
  height : 100%;
}

.d-flex.flex-column {
  flex-direction : column;
}

.justify-start {
  justify-content : flex-start !important;
}

@include up(767.99) {
  %col-6-lg,
  .col-6-lg {
    padding   : calc(var(--space) * 2);
    max-width : 50%;
  }
}
