body {
  font-family : 'Montserrat', sans-serif;
}

%h1,
.h1 {
  font-size : 30px;
}

%text-center,
.text-center {
  text-align : center;
}

%text-strong,
.text-strong {
  font-weight : 600;
}

%text-uppercase,
.text-uppercase {
  text-transform : uppercase;
}
