body {
  font-family : 'Montserrat', sans-serif;
}

%h1,
.h1 {
  font-size   : 30px;
  line-height : 46px;
  @include down(428) {
    font-size : 26px;
  }
}

%title-section,
.title-section {
  font-weight : 600;
  font-size   : clamp(18px, 24px, 28px)
}

%text-center,
.text-center {
  text-align : center;
}

%text-strong,
.text-strong {
  font-weight : 600;
}

%text-medium,
.text-medium {
  font-weight : 500;
}

%text-uppercase,
.text-uppercase {
  text-transform : uppercase;
}
