.dropdown {
  position : relative;
  display  : inline-block;
  cursor   : pointer;
}

.dropdown-content {
  display       : none;
  position      : absolute;
  background    : white;
  border        : solid 2px silver;
  border-radius : 0 0 .30rem .30rem;
  border-top    : none;
  min-width     : 200px;
  width         : auto;
  padding       : 12px 16px;
  top           : 60px;
  z-index       : 2;
  text-align    : start;

  & li {
    padding       : .475rem .75rem;
    line-height   : 1.5;
    border-bottom : solid 1px silver;
  }
}

.dropdown-content-mobile {
  display    : none;
  position   : absolute;
  background : white;
  border     : none;
  width      : 100%;
  padding    : 12px 16px;
  text-align : center;
  top        : 60px;
  z-index    : 2;
}

.dropdown:hover .dropdown-content {
  display : block !important;
}

@media screen and (max-width : 998.99px) {
  .nav-item.dropdown.active {
    position : relative;
    width    : 100%;
    height   : auto;
  }
  .dropdown {
    display : flex;
    height  : auto;
  }
  .dropdown.active .dropdown-content {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    text-align     : center;
    border         : none;
    background     : var(--color-primary);
    height         : auto !important;
  }
}
