%hero,
.hero {
  position            : relative;
  background-size     : cover;
  background-position : top center;
  height              : 800px;
  top                 : 0;
  right               : 0;
  left                : 0;

  &:after {
    content    : '';
    display    : block;
    background : rgba(#000, .6);
    position   : absolute;
    z-index    : 1;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
  }
}

.hero-container {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  z-index   : 2;
  width     : 100%;
}

@include down(800) {
  .hero-container {
    span {
      font-size : 24px;
    }

    h1 {
      font-size : 30px;
    }
  }
}
