.modal-auth {
  display        : flex;
  flex-direction : column;
  position       : fixed;
  top            : 50%;
  left           : 50%;
  transform      : translate(-50%, -50%);
  z-index        : 9999;
  width          : 100%;
  max-width      : 700px;
  margin         : auto;
  padding        : 50px 10px;
  border-radius  : 10px;
  background     : #FFF;
  @include up(767.99) {
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    padding   : 50px;
  }

  &.login {
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
  }

  .modal-title {
    text-align      : center;
    font-weight     : 700;
    display         : flex;
    line-height     : 1.5;
    font-size       : 20px;
    flex-direction  : column;
    justify-content : center;
    @include up(767.99) {
      font-size : 28px;
    }
    @include up(991.99) {
      font-size : 36px;
    }

    &:after {
      content          : '';
      display          : block;
      width            : 30%;
      margin           : 20px auto;
      height           : 3px;
      background-color : var(--color-primary);
      @include up(767.99) {
        width : 50%;
      }
    }
  }

  .grid-modal > div, fieldset {
    margin-bottom : .75rem;
  }

  legend {
    padding       : 3px 0;
    font-weight   : 500;
    margin-bottom : .5rem;
  }

  .form-check:nth-of-type(1) {
    margin-right : 30px;
  }

  .link-existing-account, .link-register-account {
    margin-top : .5rem;
  }

  .link-register-account {
    margin-bottom : 0;
    font-size     : 12px;
    font-weight   : 600;

    &:hover {
      color : var(--color-primary);
    }
  }
}

.overlay-modal {
  content          : '';
  position         : fixed;
  top              : 0;
  right            : 0;
  left             : 0;
  bottom           : 0;
  z-index          : 1000;
  background-color : rgba(#000, .5);
}

.modal-auth > form.form-register {
  .form-group-civility {
    grid-area : 1 / 1 / 2 / 2;
  }

  .form-group-lastName {
    grid-area : 1 / 2 / 2 / 3;
  }

  .form-group-firstName {
    grid-area : 2 / 1 / 2 / 2;
  }

  .form-group-birthday {
    grid-area : 2 / 2 / 2 / 3;
  }

  .form-group-password {
    grid-area : 3 /1 / 4 / 2;
  }

  .form-group-confirmPassword {
    grid-area : 3 / 2 / 4 / 3;
  }

  .form-group-email {
    grid-area : 4 / 1 / 5 / 3;
  }

  .form-group-rgpd {
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    grid-area       : 5 / 1 / 6 / 2;
    margin-bottom   : 0;

    .form-check-label {
      font-size   : 12px;
      margin-left : .75rem;
      line-height : 1.5;

      strong {
        font-weight : 600;
        color       : var(--color-primary);

        a {
          transition : color .3s ease-in-out;
        }

        & a:hover {
          color : #000000;
        }
      }
    }
  }

  .link-existing-account {
    display       : flex;
    margin-bottom : 0;
    grid-area     : 5 / 2 / 6 / 3;
    font-size     : 12px;
    font-weight   : 600;

    a:hover {
      color : var(--color-primary);
    }
  }
}
