.navbar {
  position        : sticky;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  height          : 70px;
  background      : transparent;
  z-index         : 999;
  top             : 0;
  color           : #FFFFFF;

  &.active {
    background : #FFFFFF;
  }
}

.nav-container {
  display         : flex;
  margin          : auto;
  align-items     : center;
  justify-content : center;
  height          : 100%;

  .nav-list {
    display  : flex;
    position : relative;
  }

  .nav-mobile-logo {
    display : none;
  }
}

.nav-item {
  position     : relative;
  white-space  : nowrap;
  margin-right : 40px;
}

.nav-user, .nav-item {
  font-size      : 1rem;
  font-weight    : 500;
  text-transform : uppercase;
}

.nav-user {
  margin-right   : 3rem;
  text-transform : uppercase;

  span {
    margin-left : .75rem
  }
}

.menu-mobile {
  display : none;
}

.nav-item:hover > ul {
  pointer-events : auto;
  opacity        : 1;
}

.dropdown {
  position                   : absolute;
  top                        : 20px;
  left                       : 0;
  min-width                  : 10rem;
  transform                  : translateY(10px);
  opacity                    : 0;
  background-color           : #fff;
  pointer-events             : none;
  transition                 : .3s;
  border-bottom-left-radius  : 5px;
  border-bottom-right-radius : 5px;
}

.dropdown-link {
  display    : flex;
  color      : #41413B;
  padding    : .5rem 1rem;
  font-size  : .9rem;
  transition : .3s;
  width      : 100%;

  &:hover {
    color : green;
  }
}

.nav-item:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform      : translate(0, 0);
  opacity        : 1;
  pointer-events : auto;
}

.dropdown-list > .nav-item {
  margin : .5rem 0 .5rem 0;
}

@include down(1364) {
  .nav-user, .nav-item {
    font-size : .9rem;
  }
  .nav-user {
    margin-right : 2rem;
  }
}

@include down(1200) {
  .overlay-nav {
    display    : none;
    background : rgba(#000000, .5);
    position   : fixed;
    top        : 0;
    right      : 0;
    left       : -550px;
    bottom     : 0;
    opacity    : 0;
    height     : 100vh;
    transition : opacity .5s ease-in;
  }
  .overlay-nav.active {
    display : block;
    opacity : 1;
    left    : 0;
    z-index : 1;
  }
  .menu-mobile {
    display   : block;
    font-size : 1.2rem;
    margin    : auto 2rem;
  }
  .nav-container {
    display    : block;
    position   : fixed;
    background : #FFFFFF;
    height     : 100vh;
    width      : 40vh;
    top        : 0;
    left       : -550px;
    color      : #212529;
    transition : all ease-in .5s;
    opacity    : 0;
    z-index    : 5;
    overflow-y : auto;

    .dropdown {
      position       : initial;
      top            : initial;
      left           : initial;
      transform      : initial;
      opacity        : 1;
      pointer-events : auto;
      width          : 100%;
      padding        : 0;
      display: none;
    }

    .nav-item:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
      display    : block;
      margin-top : 20px;
      background : yellow;
    }
    .nav-item:focus > .dropdown,
    .dropdown-link:focus > .dropdown {
      display    : block;
      margin-top : 20px;
      background : yellow;
    }

    .dropdown-link {
      padding : .5rem 0;
    }

    .nav-mobile-logo {
      display         : flex;
      align-items     : center;
      justify-content : center;
      margin-top      : 25px;

      img {
        height : 150px;
        width  : 150px;
      }
    }

    .nav-list {
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      /*
            background      : red;*/
      overflow-y      : auto;
    }

    .nav-item {
      z-index       : 999;
      padding       : 1rem 2rem 1rem 2rem;
      border-bottom : solid 1px green;
      margin-bottom : .5rem;
      width         : 100%;
    }
  }
  .nav-container.active {
    left    : 0;
    opacity : 1;
  }
}
