.nav-brand {
  display     : flex;
  height      : 100%;
  padding     : .375rem .75rem;
  margin-left : 30px;
}

.nav-logo img {
  display : none;
}

.main-nav {
  position        : relative;
  display         : flex;
  max-height      : 60px;
  justify-content : space-between;
  align-items     : center;
  border-bottom   : solid 1px silver;
}

.nav-content {
  position        : absolute;
  z-index         : 3;
  display         : flex;
  flex-direction  : column;
  justify-content : space-evenly;
  top             : 0;
  bottom          : 0;
  left            : -500px;
  width           : 400px;
  height          : 100vh;
  opacity         : 0;
  visibility      : hidden;
  padding         : .375rem 1.25rem;
  background      : white;
  transition      : opacity .3s ease-in-out, visibility .5s ease-in-out, left .3s ease-in-out;

  .nav-items ul {
    a.nav-link {
      display     : inline-block;
      padding     : .75rem 0;
      margin-left : 1.75rem;
      font-size   : .9rem;
      font-weight : 500;

      &.active {
        border-bottom : solid 3px var(--color-success);
      }
    }
  }
}

.nav-item.account-user {
  display                : inline-flex;
  justify-items          : center;
  align-items            : center;
  padding                : 25px 20px 20px 35px;
  font-size              : 14px;
  font-weight            : 400;
  background             : var(--color-primary);
  border-top-left-radius : 450px;
  height                 : 60px;
}

.small-screen {
  .nav-logo img {
    display       : block;
    border-radius : 999px;
    margin        : auto;
    height        : 160px;
    width         : 160px;
  }

  .nav-title {
    font-size   : 24px;
    text-align  : center;
    margin-top  : 50px;
    line-height : 48px;
    font-weight : 400;
  }

  .nav-close {
    position : absolute;
    right    : 30px;
    top      : 30px;
  }

  .nav-btn-close svg {
    color  : #FD5949;
    height : 30px;
    width  : 30px;
  }

  .nav-social-link {
    display       : inline-flex;
    font-size     : 18px;
    line-height   : 48px;
    margin-left   : 1.75rem;
    border-bottom : var(--color-success) solid 4px;
    font-weight   : 400;
  }
}

.overlay-nav {
  background : rgba(#000, .5);
  height     : 100vh;
  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;
  z-index    : 2;
  visibility : hidden;
  transition : all .2s ease-in-out;
}

.overlay-nav.modal-open {
  visibility : visible;
}

.nav-content.modal-open {
  opacity    : 1;
  visibility : visible;
  left       : 0;
}

.nav-item.account-user {
  display                : inline-flex;
  justify-items          : center;
  align-items            : center;
  padding                : 25px 20px 20px 35px;
  font-size              : 14px;
  font-weight            : 400;
  background             : var(--color-primary);
  border-top-left-radius : 450px;
  height                 : 60px;
}

.account-user a {
  display         : flex;
  align-items     : center;
  justify-content : center;

  span {
    margin-right : .4rem;
  }
}

@include up(1017.98) {
  .nav-brand {
    display : none;
  }
  .main-nav {
    display         : flex;
    max-height      : 60px;
    overflow        : hidden;
    justify-content : space-between;
    align-items     : center;
    border-bottom   : solid 1px silver;
  }
  .nav-logo img {
    display     : block;
    height      : 100%;
    margin-left : 100px;
    width       : 60px;
  }
  .nav-items ul {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 60px;

    a.nav-link {
      display     : inline-flex;
      align-items : center;
      margin      : auto;
      height      : 100%;
      padding     : 0 .75rem;
      font-size   : .9rem;
      font-weight : 500;

      &.active {
        border-bottom : solid 3px var(--color-success);
      }
    }
  }
  .small-screen {
    display : none;
  }
  .nav-content {
    position        : relative;
    display         : flex;
    justify-content : space-evenly;
    left            : 0;
    width           : auto;
    height          : auto;
    opacity         : 1;
    visibility      : visible;
  }
  .overlay-nav.modal-open {
    visibility : hidden;
  }
}

@include down(454) {
  .nav-item.account-user {
    padding   : 15px 10px 10px 25px;
    font-size : 12px;
  }
  .small-screen {
    .nav-title {
      font-size : 18px;
    }
  }
  .nav-content {
    width : 80%;
  }
}
