%alert,
.alert {
  display       : inline-flex;
  align-items   : center;
  width         : 100%;
  padding       : .75rem 1.25rem;
  font-size     : 14px;
  font-weight   : 400;
  margin        : .55rem auto;
  border-radius : .20rem;
  line-height   : 21px;

  span {
    margin-left : 1rem;
  }

  & svg {
    font-size : 20px;
  }
}

.alert-success {
  background : var(--success);
  color      : #FFFFFF;
}
