%btn,
.btn {
  display        : inline-block;
  font-size      : 14px;
  font-weight    : 500;
  font-family    : 'Montserrat', sans-serif;
  text-align     : center;
  white-space    : nowrap;
  vertical-align : middle;
  user-select    : none;
  border         : 1px solid transparent;
  background     : transparent;
  color          : inherit;
  cursor         : pointer;
  border-radius  : 3px;
  padding        : .375rem .75rem;
  transition     : all .5s ease-in-out;
}

%btn-primary,
.btn-primary {
  background : var(--color-primary);
}

%btn-primary-light,
.btn-primary-light {
  background : var(--color-primary-light);
}

.btn-lg {
  padding   : .75rem 1.25rem;
  font-size : 15px;
}

.btn-md {
  padding   : .55rem .95rem;
  font-size : 14px;
}

.btn.hover-outline:hover {
  border-color : var(--color-primary);
  background   : transparent;
}

.btn.hover-opacity:hover {
  border-color : #e9c393;
  background   : #E9C393;
}

.btn-profil {
  border-color : white;
  background   : rgba(#FFC4EC, .5);

  &:hover {
    background : transparent;
  }
}

.btn-danger {
  background : var(--danger);
  color      : white;

  &:hover {
    background : rgba(#FD5949, .7);
  }
}

.btn-update {
  border-color : white;
  background   : var(--color-female);
  color        : #FFFFFF;

  &:hover {
    color        : var(--color);
    border-color : var(--color);
    background   : transparent;
  }
}
