.card-formule {
  display       : grid;
  grid-template : auto-fit minmax(50px, 170px) minmax(270px, 300px) minmax(50px, 120px) / 1fr;
  padding       : 10px 20px;
  border        : solid 1px #777777;
  border-radius : 15px !important;
  max-width     : 340px;
  width         : auto;
}

.card-formule.card-important {
  border     : solid 3px var(--color-primary);
  min-height : 700px;
  box-shadow : 0 5px 5px rgba(#777777, .5);
}

.formule-card-header {
  display        : flex;
  flex-direction : column;
  overflow       : hidden;
  grid-area      : 1 / 1 / 2 / 2;

  .header-title {
    text-align : center;

    &.title-important {
      display         : inline-flex;
      width           : 100%;
      font-size       : 26px;
      color           : var(--color-primary);
      justify-content : center;
      text-align      : center;
      max-width       : 100%;
      margin-top      : 0;
    }
  }

  .formule-img {
    /*margin : 0 auto;*/
    margin : auto;

    img {
      -webkit-border-radius : 999px;
      -moz-border-radius    : 999px;
      border-radius         : 999px;
      height                : 120px;
      width                 : 120px;
    }
  }
}

.formule-img.is-important {
  img {
    height : 130px;
    width  : 130px;
  }
}

.formule-card-content {
  grid-area : 2 / 1 / 3 / 2;

  h3 {
    font-size     : 18px !important;
    font-weight   : 400;
    text-align    : center;
    line-height   : 33px;
    margin-bottom : 20px;

    &.is-important {
      font-weight : 600;
      font-size   : 20px !important;
    }
  }

  p.formule-content {
    margin-left : 13px;
    text-align  : justify;
    font-size   : 1rem;
  }
}

.formule-card-footer {
  grid-area       : 3 / 1 / 4 / 2;
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  text-align      : center;
  line-height     : 1.5;

  .formule-prices {
    font-size   : 40px;
    font-weight : 700;
  }

  .formule-offert, .formule-info {
    font-weight : 600;
  }
}
