@import 'Tools/reset';
@import 'Tools/function';
@import 'Tools/mixins';
@import 'Tools/typography';
@import 'Tools/_form';
@import 'Tools/layout';
@import 'Components/modules/button';
@import 'Components/modules/formuleCard';
@import 'Components/modules/switch';
@import 'Components/modules/card';
@import 'Components/modules/alert';
@import 'Components/modules/formContact';
@import 'Components/modules/tabs';

:root {
  --color-primary       : #ddbf9c;
  --color-primary-light : #eac8af;
  --color-success       : #749460;
  --color               : #41413B;
  --danger              : #FD5949;
  --success             : #42940F;
  --space               : 8px;
  --color-female        : #672853;
  --color-male          : #495470;
}

body {
  color : var(--color);
}

@import 'Components/ModalAuth';
@import 'Components/Dropdown';
@import 'Components/NavBar';
@import 'Components/HeroPage';
@import 'Pages/HomePage';
@import 'Pages/UserProfil';
@import 'Pages/Organization/SecularCeremony';
@import 'Pages/Contact';
