@import 'Tools/reset';
@import 'Tools/mixins';
@import 'Tools/typography';
@import 'Tools/_form';
@import 'Tools/layout';
@import 'Components/modules/button';
@import 'Components/modules/card';

:root {
  --color-primary : #ddbf9c;
  --color-success : #749460;
  --color         : #41413B;
}

body {
  color : var(--color);
}

@import 'Components/ModalAuth';
@import 'Components/NavBar';
@import 'Components/HeroPage';
@import 'Pages/HomePage';
