@import 'Tools/reset';
@import 'Tools/function';
@import 'Tools/mixins';
@import 'Tools/typography';
@import 'Tools/_form';
@import 'Tools/layout';
@import 'Components/modules/button';
@import 'Components/modules/card';
@import 'Components/modules/alert';
@import 'Components/modules/formContact';

:root {
  --color-primary : #ddbf9c;
  --color-success : #749460;
  --color         : #41413B;
  --danger        : #FD5949;
  --success       : #42940F;
  --space         : 8px;
}

body {
  color : var(--color);
}

@import 'Components/ModalAuth';
@import 'Components/Dropdown';
@import 'Components/NavBar';
@import 'Components/HeroPage';
@import 'Pages/HomePage';
@import 'Pages/Contact';
