@import 'Tools/reset';
@import 'Tools/mixins';
@import 'Tools/layout';
@import 'Tools/typography';
@import 'Tools/_form';
@import 'Components/modules/button';

:root {
  --color-primary : #DDBB8E;
  --space         : 8px;
}

@import 'Components/ModalAuth';
