.section-decoration {
  background                 : var(--color-primary);
  border-bottom-right-radius : 150px;
  height                     : 40px;
  width                      : 100%;
}

section {
  margin-bottom : 30px;
  padding       : 20px 0;

  h2 {
    font-size     : 19px;
    margin-bottom : 15px;
    line-height   : 35px;
    text-align    : center;
    font-weight   : 600;
  }

  p {
    font-size   : 14px;
    line-height : 24px;
    text-align  : justify;
    max-width   : 80%;
    margin      : auto;
  }

  p strong {
    font-weight : 600;
    color       : var(--color-primary);
  }
}

section.section-top-left-rounded {
  background : rgba(#ECD5B8, .5);
  border-top-left-radius: 100px;
}
