.hero-home-content {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-weight     : 500;
  padding         : 1rem;
  text-transform  : uppercase;
  text-align      : center;
  color           : #FFFFFF;

  span {
    font-size : 24px;
  }

  h1 {
    font-size   : 40px;
    text-align  : center;
    line-height : 60px;
  }
}

section {
  padding    : 50px 0 20px;
  text-align : center;

  .btn-home {
    margin-top : 2rem;
  }

  h2 {
    font-weight    : 600;
    line-height    : 55px;
    font-size      : 40px;
    margin-bottom  : 10px;
    text-transform : uppercase;
  }

  .subtitle-section {
    max-width   : 688px;
    margin      : auto;
    line-height : 33px;
    font-size   : 16px;
    font-style  : italic;

    span {
      color       : #F8B664;
      font-weight : 500;
    }
  }
}

.gallery {
  margin-top            : 37px;
  display               : grid;
  grid-template-columns : repeat(4, 285px);
  grid-template-rows    : repeat(3, 210px);
  grid-gap              : 2vmin;
  justify-content       : center;

  img {
    height     : 100%;
    width      : 100%;
    object-fit : cover;
  }
}

div.img-1 {
  grid-column : 1 /  2;
  grid-row    : 1 / 3;
}

div.img-2 {
  grid-column : 2 /  3;
  grid-row    : 1 / 2;
}

div.img-3 {
  grid-column : 2 /  3;
  grid-row    : 2 / 3;
}

div.img-4 {
  grid-column : 3 /  4;
  grid-row    : 1 / 2;
}

div.img-5 {
  grid-column : 4 /  5;
  grid-row    : 1 / 2;
}

div.img-6 {
  grid-column : 1 /  3;
  grid-row    : 3 / 4;
}

div.img-7 {
  grid-column : 3 /  5;
  grid-row    : 2 / 4;
}

.btn-home {
  display       : inline-block;
  background    : transparent;
  font-weight   : 500;
  padding       : 8px 16px;
  border        : solid 1px #ECD5B8;
  white-space   : nowrap;
  font-size     : .975rem;
  line-height   : 1.2;
  border-radius : 3px;
  transition    : all .5s ease-in-out;

  &:hover {
    background : #ECD5B8;
  }
}

.section-content {
  display         : flex;
  justify-content : center;

  .section-img img {
    max-width  : 415px;
    max-height : 617px;
  }

  & > * {
    width : 50%;
  }
}

.section-about {
  display     : flex;
  align-items : center;

  p {
    font-size   : 16px;
    text-align  : justify;
    line-height : 35px;
    font-weight : 500;
  }
}

@include down(1200) {
  .gallery {
    grid-template-columns : repeat(3, 285px);
    grid-template-rows    : repeat(3, 210px);
  }
  div.img-4 {
    grid-column : 3 /  4;
    grid-row    : 1 / 2;
  }
  div.img-5 {
    grid-column : 3 /  4;
    grid-row    : 2 / 3;
  }
  div.img-7 {
    grid-column : 3 /  4;
    grid-row    : 2 / 4;
  }
}

@include down(991.98) {
  .section-content {
    width           : auto;
    justify-content : center;
    flex-direction  : column;

    .section-img {
      display : none;
      & img {
        height : auto;
        width  : 50%;
      }
      margin  : auto;
    }
  }
  .section-about {
    margin  : auto;
    width   : auto;
    padding : .75rem;
  }
}

@include down(940) {
  .gallery {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;
    width           : 100%;

    & > * {
      width : 45%;
    }

    & :last-child {
      width : 95%;
    }
  }
}

@include down(592) {
  .gallery {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : left;
    width           : 100%;

    & > * {
      width : 100%;
    }
  }
}
