.container-profil {
  background      : var(--color-female);
  position        : absolute;
  top             : 200px;
  left            : 50%;
  transform       : translateX(-50%);
  display         : flex;
  justify-content : center;
  color           : white;
  text-align      : center;
  padding         : 25px 10px;
}

.profil-avatar {
  display : none;
}

.profil-info {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  height          : 100%;
}

.profil-name,
.profil-address,
.profil-postalCode,
.profil-phone {
  display       : inline-block;
  line-height   : 1.5;
  margin-bottom : .75rem;
}

.profil-name {
  font-size : 18px;
}

.profil-notif {
  display : none;
}

/* =================
* Menu profil
* =================
*/
.menu-profil {
  margin-top : 70px;
  background : rgba(#EEEEEE, .8);
  min-height : 40px;
}

.menu-profil-items {
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  justify-content : center;
  align-items     : center;
  margin          : auto;
}

.menu-profil-item {
  display         : block;
  width           : 100%;
  justify-content : start;
}

.menu-profil-link {
  display     : inline-block;
  padding     : .375rem .75rem;
  font-size   : 14px;
  line-height : 1.5;
  width       : 100%;

  &.active {
    background    : #9F648C;
    color         : white;
    font-weight   : 600;
    border-bottom : solid 5px var(--color-primary);
  }
}

/* =================
* Resume Profil
* =================
*/
.profil-content {
  margin-top : 1.55rem;
}

.user-info, .user-event,
.user-workshop > * {
  color       : var(--color);
  line-height : 1.75rem;
}

.user-info, .user-event,
.user-workshop {
  margin-bottom : 2rem;
  border-bottom : solid 2px #41413B;
  padding       : 0 0 1rem;

  & h2 {
    margin-bottom : .55rem;
  }
}

.user-event, .user-workshop {
  strong {
    display     : inline-block;
    font-weight : 600;
    color       : var(--color-female);
    text-align  : end;
    width       : 100%;
  }
}

.update-profil {
  display         : flex;
  margin-top      : 1rem;
  justify-content : flex-end;
  width           : 100%;
}

/* =================
* Params Account
* =================
*/
.grid-profil {
  display               : grid;
  grid-template-columns : 1fr;
  margin-top            : 30px;

  .name-form {
    display         : flex;
    align-items     : flex-end;
    font-size       : 16px;
    font-weight     : 600;
    margin-bottom   : var(--space);

    & svg {
      margin-right : .5rem;
      font-size    : 22px;
    }
  }

  .container-form {
    background : rgba(#855777, .13);
    padding    : 10px 22px;

    .form-control {
      margin-bottom : .8rem;
    }
  }
}

.col-right .form-row {
  flex-direction : column;
  font-size      : 13px;
  font-weight    : 500;
  padding        : .370rem 0 0;

  .form-subtitle {
    padding-bottom : 8px;
    border-bottom  : solid 1px #B1A0AC;
    margin-bottom  : .55rem;
    font-size      : 16px;
  }

  .form-group {
    display     : flex;
    align-items : center;

    span {
      line-height : 1.5rem;
    }
  }
}

.delete-account {
  color       : var(--danger);
  font-weight : 600;

  .btn-delete-account {
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 15px;
    font-weight     : 600;
    margin-left     : auto;
    margin-top      : 16px;
  }

  p {
    color       : var(--color);
    font-size   : 14px;
    line-height : 22px;
  }
}

/* =================
* Mixins
* =================
*/
@include up(767.99) {
  .profil-avatar {
    display       : block;
    width         : 120px;
    height        : 120px;
    margin-bottom : 1rem;

    img {
      border        : solid 4px var(--color-primary);
      border-radius : 999%;
    }
  }
  .profil-notif {
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    align-items     : flex-start;
    width           : 50%;
    max-height      : 245px;
    height          : 245px;
    max-width       : 466px;
    background      : white;
    border-radius   : 5px;
    padding         : 10px;
    color           : var(--color)
  }
  .notif {
    position        : relative;
    font-size       : 12px;
    font-weight     : 600;
    display         : flex;
    align-items     : center;
    justify-content : start;
    width           : 100%;

    .icon {
      position        : relative;
      display         : inline-flex;
      justify-content : center;
      align-items     : center;
      border-radius   : 999%;
      margin-right    : 1rem;
      background      : #939DB5;
      height          : 35px;
      width           : 35px;
      font-size       : 18px;
      color           : white;
    }

    span.number-notif {
      background    : var(--danger);
      padding       : .25rem;
      position      : absolute;
      border-radius : 9999%;
      height        : 16px;
      width         : 16px;
      top           : -5px;
      right         : -5px;
    }

    span {
      line-height   : 1.5;
      text-align    : start;
      white-space   : nowrap;
      overflow      : hidden;
      text-overflow : ellipsis;
    }
  }
  .container-profil {
    align-items     : center;
    justify-content : space-evenly;
  }
  .menu-profil-items {
    flex-direction  : row;
    justify-content : center;
    width           : 80%;
  }
  .menu-profil-item {
    width           : auto;
    justify-content : center;
  }
  .menu-profil-link {
    display     : inline-block;
    padding     : .375rem .75rem;
    font-size   : 14px;
    line-height : 1.5;
    width       : 100%;

    &.active {
      background    : #9F648C;
      color         : white;
      font-weight   : 600;
      border-bottom : solid 5px var(--color-primary);
    }
  }
}

@include up(991.99) {
  .profil-notif {
    padding : 30px 50px;
  }
  .notif {
    .icon {
      display   : inline-flex;
      height    : 35px;
      width     : 35px;
      font-size : 16px;
    }
  }
}

@include up(1100) {
  .grid-profil {
    grid-template-columns : 60%  38%;
    grid-column-gap       : 30px;
  }
  .col-right, .col-left {
    .container-form {
      border-radius   : 5px;
      display         : flex;
      flex-wrap       : wrap;
      justify-content : space-around;
    }
  }
  .col-right {
    height : max-content;

    .container-form {
      flex-direction : column;

      .form-row {
        flex-direction : column;
        margin-bottom  : 18px;
      }
    }
  }
}
